html,
body {
    background: linear-gradient(186deg, rgb(108, 213, 248) 0%, rgb(194, 236, 255) 100%);
}

button {
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
    /* background: #969696; */
    font-size: 1.2em;
    font-weight: 550;
    opacity: 0.8;
}

button:hover {
    background: #919191;
    color: white;
}

.cloud {
    width: 130px;
    z-index: 999;
    font-family: 'IndieFlower', sans-serif;
    font-weight: 800;
    position: absolute;
    rotate: -15deg;
    animation: beat 1s infinite alternate;
    
    /* Cloud position */
    top: -10%; 
    left: -40px;
    
    /* Centering number absolutely */
    .gameNumber {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: lightblue;
        font-size: 2.6rem;
        z-index: 10;

        -webkit-text-stroke: 2px black;
    }
}

@keyframes beat {
    to {
        transform: scale(1.3);
    }
}